<h1>Instagram Search</h1>

<form action="/result" method="post">
<h2>Start Date/Time</h2>
<input type="date" name="start_date">
<input type="time" name="start_time" value="12:00">

<h2>End Date/Time</h2>
<input type="date" name="end_date">
<input type="time" name="end_time" value="12:00">

<h2>Address, Location, Landmark</h2>
<input type="text" name="place" value="place">

<h2>Distance Range from Place in meters</h2>
<input type="text" value="1000" name="distance">
<br />
<br />
<input type="submit">
</form>